.coloum{
    display: flex;
    flex-direction: row;
    
}
#classHead{
    display: grid;
    grid-template-columns: auto auto auto;
}
img{
    width: 10vw;
    height: 20vh;

}
.border{
    border: 2px solid black;
    border-radius: 5%;
    margin: 5%;
    width: 10vw;
    display: flex;
    flex-direction: column;
    box-shadow:10px 5px 5px grey;

}
body{
    font-size: 2rem ;
}
span{
    display: flex;
    justify-content: center;
}
.score{
    font-size: larger;
}